.wrapper {
  padding: 2px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
input[type='file'] {
  display: none;
}
.custom-file-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;

  border: 0.5px dashed var(--main-green);
  border-radius: 10px;
  cursor: pointer;

  .txtAdd {
    margin-top: 5px;
    color: var(--main-green);
    font-size: 1.4rem;
    font-weight: 500;
  }
}
