.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-header {
    margin-top: 50px;
    align-items: flex-start;
    width: 25%;
    font-weight: 700;
  }
  .select-item {
    border-radius: 50%;
    width: 300px;
    height: 30px;
    font-size: 1.6rem;

    &:focus-within {
      border: 1.5px solid var(--main-green);
    }
  }

  .item-input {
    margin-top: 10px;
    width: 300px;

    .label {
      font-weight: 600;
    }
    .view-images {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;

      .image {
        width: 94px;
        height: 94px;
        padding: 2px;
        object-fit: cover;
      }
      .icon-remove {
        position: relative;
        width: 15px;
        height: 15px;
        margin-left: -10px;
        margin-top: -2px;
        cursor: pointer;
      }
    }
    .txt-error {
      margin-top: 5px;
      margin-left: 10px;
      font-size: 1.4rem;
      color: red;
    }
  }
  .demons-img {
    width: 600px;
    height: auto;
  }
}
