.wrapper {
  margin: 20px 0;
}
.tabs {
  font-size: 1.6rem;
  cursor: pointer;

  .choose-tab {
    font-weight: 700;
    color: var(--main-green);
  }
  .no-choose-tab {
    color: var(--text-color);
  }
}
.image {
  width: 100%;
}
