.wrapper {
  display: flex;
  z-index: 100;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background: hsla(0, 0%, 100%, 0.9);

  .logo {
    width: 150px;
    height: auto;
  }
  .list-header-items {
    display: flex;

    .header-item {
      display: flex;
      align-items: center;

      &:hover {
        color: #00b14f;
      }
    }

    .item-title {
      margin-left: 10px;
      margin-right: 50px;
      font-weight: 600;
      font-size: 1.8rem;

      &::selection {
        background: #00b14f;
        color: #fff;
      }
    }
  }
}
